<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Context Quickie2"
            class="contextquickie2.plugin.preferences.PreferencePage"
            id="contextquickie2.plugin.preferences.PreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="contextquickie2.plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="contextquickie2.plugin.CommandHandler"
            id="ContextQuickie2.Command"
            name="ContextQuickie2.Command">
         <commandParameter
               id="ContextQuickie2.Command.ExplorerContextMenuEntry"
               name="ContextQuickie2.Command.ExplorerContextMenuEntry"
               optional="false"
               typeId="explorercontextmenu.menu.ExplorerContextMenuEntry">
         </commandParameter>
      </command>
      <commandParameterType
            converter="contextquickie2.plugin.ObjectParameterConverter"
            id="explorercontextmenu.menu.ExplorerContextMenuEntry"
            type="explorercontextmenu.menu.ExplorerContextMenuEntry">
      </commandParameterType>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="popup:org.eclipse.ui.popup.any?before=additions">
            <separator
                  name="ContextQuickie2.SeparatorBeforeMenu"
                  visible="true">
            </separator>
            <dynamic
                  class="contextquickie2.plugin.MenuBuilder"
                  id="contextquickie2.plugin.MenuBuilder">
            </dynamic>
            <separator
                  name="ContextQuickie2.SeparatorAfterMenu"
                  visible="true">
            </separator>
         </menuContribution>
   </extension>
</plugin>
